*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
UI-generator/".temp"

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml
target

*.log

.DS_Store
/UI-generator/.sass-cache/
/UI-generator/.tmp/
/UI-generator/bower_components/
/UI-generator/node_modules/
/UI-generator/node/
/UI-generator/dist/
