body {
    font-family: Fixedsys;
    height: 100vh;
    min-width: 1200px;
    position: relative;
    position: relative;
    background-color: lightgrey;
}

.main-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 18rem;
    padding-top: 2rem;
    background-color: #3f51b5;
    color: white;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.clanBattle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.vsIcon {
    margin-left: 2rem;
    margin-right: 2rem;
}

#vsIcon {
    width: 7rem;
    height: 6rem;
    margin-top: 1rem;
}

#vsMyClan, #vsOtherClan {
    width: 8rem;
    height: 8rem;
    box-shadow: 0px 0px 15px yellow;
}

.vsClanImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vsClanName {
    font-size: 1.25rem;
}

.vsClanPoints {
    font-size: 1.25rem;
}

.vsClanPointsTxt {
    font-size: 1.25rem;
}

#clanImg {
    width: 15rem;
    height: 15rem;
}

.clanPoints {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 2rem;
    align-self: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 5%;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
}

.clanName {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 2rem;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

.ranking-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    font-size: 1.1rem;
    align-self: center;
}

.table-row {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #f7db59;
    align-items: stretch;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

    border-radius: 20rem;
    border-style: solid;
    border-width: 0.3rem;
    border-color: #af982f #a89643;

    width: 80%;

    color: black;
    font-size: 1.1rem;
}

.nobattletext {
    color: grey;
    font-size: 1.25rem;
}

p.clanname-link {
    margin-bottom: 0;
}

p.username-link:hover, p.clanname-link:hover {
    color: white;
    cursor: pointer;
}